[database]
# Default for local development. Docker environment variable will override this.
url = mysql+pymysql://root:Vijay123@127.0.0.1:3306/backend_db

[oauth2]
secret_key = your_secret_key_here
algorithm = HS256
access_token_expire_minutes = 30

[email]
smtp_server = smtp.gmail.com
smtp_port = 587
smtp_user = your_email@gmail.com
smtp_password = your_app_password_here

[groq]
api_key = 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
model = llama-3.3-70b-versatile
base_url = https://api.groq.com/openai/v1
