[database]
# Default for local development. Docker environment variable will override this.
url = mysql+pymysql://user:password@localhost:3306/backend_db

[oauth2]
secret_key = your_secret_key_here
algorithm = HS256
access_token_expire_minutes = 30

[email]
smtp_server = smtp.gmail.com
smtp_port = 587
smtp_user = your_email@gmail.com
smtp_password = your_app_password_here
